@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:wght@400;500;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Default Humblegen Style
   Color Scheme based on the "Feeling Humble" palette: https://www.colourlovers.com/palette/2498588/FEELING_HUMBLE
*/

body {
    background: #FEFEFE;
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Noto Sans', sans-serif;
}

.service, .userDefinedTypes {
    margin: 1em auto;
    max-width: 60em;
}

.service--name {
    font-size: 48px;
    line-height: 64px;
    padding: 2em 0 0 0;
}

.service--description {
    border-bottom: 4px solid;
    padding: .4em .4em 1em .4em;
    font-size: 14px;
}

.endpoint--method, .userDefinedType--kind {
    padding: .5em;
    display: inline-block;
    border-radius: .2em;
    font-weight: bold;
    color: rgba(0,0,0,.5);
    font-size: 13px;
    margin-right: .4em;
    min-width: 4em;
    text-align: center;
    background: #0000002e;
}

.endpoint--method--GET { background: #FFCB30; }
.endpoint--method--POST { background: #F07DBE; }
.endpoint--method--DELETE { background: #FF6831; }

.endpoint--route, .userDefinedType--name {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 16px;
    padding: .3em 0;
}

.userDefinedType--name {
    flex-grow: 1;
}

.endpoint, .userDefinedType {
    /*padding: .5em;*/
    margin: 1em 0;
    border: 1px solid #CCC;
    border-radius: .2em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12);
    position: relative;
}

.endpoint--description, .userDefinedType--description {
    font-size: 14px;
    padding: 1em 0 .2em 0;
}

.endpoint--return-type, .endpoint--properties {
    padding-left: .4em; 
    font-weight: bold;
    flex-grow: 1;
}

.endpoint--method-and-route, .userDefinedType--kind-and-name {
    padding: .5em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.endpoint--method-and-route .endpoint--return-type {
    font-family: 'Roboto Mono', monospace;
    font-size: .8em;
    opacity: 0.5;
}

.endpoint--method-and-route .endpoint--return-type::before {
    content: "\279C";
    display: inline-block;
    padding-right: 0.3em;
}


.fold-open .endpoint--method-and-route, .fold-open .userDefinedType--kind-and-name {
    background: #d3d3d329
}

.fold-open .details {
    display: block;
}

.details {
    display: none;
    padding: .5em;
    background: white;
}

*:target {
    background: #FFF5D6;
}

.icon {
    display: block;
    width: 1em;
    height: 1em;
    background-size: 1em 1em;
    padding: .5em;
    background-repeat: no-repeat;
    background-position: center;
}

.anchor:hover {
        background-color: rgba(136, 153, 166, 0.14);
        border-radius: .2em;
}

.page-nav {
    display: flex; 
    padding: .5em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12), 0 4px 4px rgba(0,0,0,0.12);
    background: #edf0f1;
    justify-content: flex-end;
}

.button-bar {
    display: flex;
    justify-content: flex-end;
}

.button {
    display: flex;
    align-items: center;
    padding: .2em .8em .2em 0;
    margin: .2em;
    background: white;
    border-radius: .2em;
    color: #8899a6;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.signature {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
}

.signature a:link, .signature a:visited {
    color: inherit;
}

.endpoint--summary {
    font-size: .8em;
    opacity: .5;
    padding-right: 1em;
}

.tabs {
    margin-top: .5em;
}

.tabs-body {
    display: none;
    padding: .5em 0;
}

.tabs-bodies {
    background: linear-gradient(#f7f7f7 20px, transparent 80px);
    padding: 1em;
}

.tabs-body.tab-active {
    display: block;
}

.tabs-nav {
    border: 1px solid transparent;
    border-bottom-color: #CCC;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
}

.tabs-nav-item {
    border: 1px solid transparent;
    margin-bottom: -1px;
    padding: .5em;
    color: inherit;
    text-decoration: none;
    border-radius: .2em .2em 0 0;
}

.tabs-nav-item.tab-active {
    color: #495057;
    background: white;
    border-color: #CCC #CCC #f7f7f7;
    background: #f7f7f7;
}

/**:target .tabs-nav-item.tab-active {*/
   /*border-bottom-color: #FFF5D6;*/
   /*background: #FFF5D6;*/
/*}*/

pre {
    font-family: 'Roboto Mono', monospace;
    padding: .5em;
    background: rgba(0,0,0,.05);
    font-size: .8em;
    line-height: 1.4;
}


/*.var-ty {*/
     /*user-select: none;*/
     /*background: rgba(0, 0, 0, 0.36);*/
     /*font-size: .6em;*/
     /*padding: .2em;*/
     /*display: inline-block;*/
     /*color: white;*/
     /*border-radius: .2em;*/
     /*box-shadow: .1em .1em 0 0 rgba(0, 0, 0, 0.3);*/
     /*position: relative;*/
     /*top: -2.5px;*/
/*}*/
.var-ty, .var-ty-name-sep {
     user-select: none;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 14px;
}

th,
td {
  padding: 0.55rem 0.75rem;
  vertical-align: top;
  text-align: left;
}

th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  font-weight: bold;
}

td {
  border-top: 1px solid #dee2e6;
}

a {
    color: #007bff;
    /*text-decoration: none;*/
    background-color: transparent;
}

a:hover {
    color: #0056b3;
    /*text-decoration: underline;*/
}

code {
    font-family: 'Roboto Mono', monospace;
}

tr[data-nesting-depth="1"] td:first-child {
    padding-left: 3em;
}

i, em {
   font-style: italic;
}

p {
    line-height: 1.5;
}
